:root {
    --grey: #F8F9FA;
    --darken-grey: #e3e7eb;
    --dark-grey: #677c91;
    --green: #009C37;
    --yellow: #FEE000;
    --blue: #002277;
    --clear-blue: #d6daf0;
    --red: #F10000;
    --black: #000000;
    --white: #FFFFFF;
    --purple: #551A8B;
}
