.input, .textarea {
    width: 100%;
    padding: .3em;
    font-size: 1.3em;
    border: 1px solid var(--dark-grey);
    color: var(--black);
}

.input-invalid {
    border: 1px solid var(--red);
}

.input:focus {
    outline: none;
}

.textarea {
    resize: none;
}
