.posts-list {
    width: 100%;
    margin-top: 1em;
}

.posts-list .post {
    padding: 1em;
    margin-top: 1em;
    display: flex;
    background-color: var(--darken-grey);
    border: .5px solid var(--dark-grey);
}

.posts-list .post .post-image {
    width: 250px;
    height: 250px;
    margin-right: 1em;
}

.posts-list .post .post-info .post-owner a {
    text-decoration: none;
    font-weight: 500;
    color: var(--purple);
}

.posts-list .post .post-info .post-owner a:hover {
    text-decoration: underline;
}

.posts-list .post .post-info .post-created-at {
    margin-top: .3em;
}

.posts-list .post .post-info .post-text {
    margin-top: 1em;
}
