.support-container .support-header .support-header-title {
    font-size: 1.5em;
    margin-bottom: .7em;
}

.support-container .pix-key {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
