body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: var(--grey);
}

.main {
    width: 748px;
    margin: 0 auto;
}

.main .header {
    text-align: center;
}

.main .header .header-icon {
    width: 100px;
    margin-top: 1em;
}

.main .header .header-logo {
    width: 215px;
    margin: 0 auto;
}

.main .content {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
}
