body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: var(--grey);
}

.main {
    width: 748px;
    margin: 0 auto;
}

.copyright {
    text-align: center;
    font-size: .8em;
    margin-top: 1em;
}

.main .header {
    text-align: center;
}

.main .header .header-icon {
    width: 100px;
    margin-top: 1em;
}

.main .header .header-logo {
    width: 215px;
    margin: 0 auto;
}

.main .content {
    width: 100%;
}

.paginator {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paginator .paginator-option {
    background-color: var(--blue);
    padding: 1em;
    text-decoration: none;
    color: var(--white);
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
}
